<div class="row show-product">

  <div class="col-lg-2">
    <%= link_to image_tag(product.image.url(:thumb)), product.image.url%>
  </div>

 <div class='col-lg-9'>
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

   <p>
    <strong>Campaign name:</strong>
    <%= product.campaign %>
  </p>

 
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

	<p>
	<%= link_to 'Edit product',edit_feed_product_path(@feed, product), :class => "btn btn-primary" %>

	  <%= link_to 'Delete product', feed_product_path(@feed, product),
	               method: :delete,
	               data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
	</p>

  </div>
  </div>



 