
<div id="search_field">

</div>

<%= form_tag '/products/search', method: :get do %>
<%= select_tag "search_by", options_for_select([ "Title", "Price" ]) %>
<%= text_field_tag :search, params[:search], placeholder: "Search" %>

<%= submit_tag "Search" %>

<% end %>

 <% @products.each do |product| %>
<div class="row show-product">

  <div class="col-lg-2">
    <%= link_to image_tag(product.image.url(:thumb)), product.image.url%>
  </div>

 <div class='col-lg-9'>
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

   <p>
    <strong>Campaign name:</strong>
    <%= product.campaign %>
  </p>

 
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  </div>
  </div>

<% end %>